In [1]:
%%capture --no-stderr
%pip install --upgrade --quiet -r requirements.txt

In [1]:
from langchain_community.utilities import SQLDatabase

db = SQLDatabase.from_uri("sqlite:///Chinook.db")
print(db.dialect)
print(db.get_usable_table_names())
db.run("SELECT * FROM Artist LIMIT 10;")

sqlite
['Album', 'Artist', 'Customer', 'Employee', 'Genre', 'Invoice', 'InvoiceLine', 'MediaType', 'Playlist', 'PlaylistTrack', 'Track']

"[(1, 'AC/DC'), (2, 'Accept'), (3, 'Aerosmith'), (4, 'Alanis Morissette'), (5, 'Alice In Chains'), (6, 'Antônio Carlos Jobim'), (7, 'Apocalyptica'), (8, 'Audioslave'), (9, 'BackBeat'), (10, 'Billy Cobham')]"

In [ ]:
import torch
from langchain.chains import create_sql_query_chain
from transformers import AutoTokenizer, AutoModelForCausalLM, pipeline
from langchain_huggingface import HuggingFacePipeline

model_name = "meta-llama/Llama-3.2-3B-Instruct"  # Replace with the exact model name if different

# Load model and tokenizer
tokenizer = AutoTokenizer.from_pretrained(model_name)
model = AutoModelForCausalLM.from_pretrained(model_name)

# Move model to MPS if available
device = torch.device("mps" if torch.backends.mps.is_available() else "cpu")
model.to(device)

Loading checkpoint shards:   0%|          | 0/2 [00:00<?, ?it/s]

LlamaForCausalLM(
  (model): LlamaModel(
    (embed_tokens): Embedding(128256, 3072)
    (layers): ModuleList(
      (0-27): 28 x LlamaDecoderLayer(
        (self_attn): LlamaSdpaAttention(
          (q_proj): Linear(in_features=3072, out_features=3072, bias=False)
          (k_proj): Linear(in_features=3072, out_features=1024, bias=False)
          (v_proj): Linear(in_features=3072, out_features=1024, bias=False)
          (o_proj): Linear(in_features=3072, out_features=3072, bias=False)
          (rotary_emb): LlamaRotaryEmbedding()
        )
        (mlp): LlamaMLP(
          (gate_proj): Linear(in_features=3072, out_features=8192, bias=False)
          (up_proj): Linear(in_features=3072, out_features=8192, bias=False)
          (down_proj): Linear(in_features=8192, out_features=3072, bias=False)
          (act_fn): SiLU()
        )
        (input_layernorm): LlamaRMSNorm((3072,), eps=1e-05)
        (post_attention_layernorm): LlamaRMSNorm((3072,), eps=1e-05)
      )
    )
    (norm): LlamaRMSNorm((3072,), eps=1e-05)
    (rotary_emb): LlamaRotaryEmbedding()
  )
  (lm_head): Linear(in_features=3072, out_features=128256, bias=False)
)

In [3]:
# Create the pipeline and set the device
hf_pipeline = pipeline("text-generation", model=model, tokenizer=tokenizer, max_length=5000, device=0 if device.type == "mps" else -1)
llm = HuggingFacePipeline(pipeline=hf_pipeline)

chain = create_sql_query_chain(llm, db)
response = chain.invoke({"question": "How many albums does AC/DC have?"})
print(response)

Truncation was not explicitly activated but `max_length` is provided a specific value, please use `truncation=True` to explicitly truncate examples to max length. Defaulting to 'longest_first' truncation strategy. If you encode pairs of sequences (GLUE-style) with the tokenizer you can select this strategy more precisely by providing a specific strategy to `truncation`.
Setting `pad_token_id` to `eos_token_id`:None for open-end generation.
Starting from v4.46, the `logits` model output will have the same type as the model (except at train time, where it will always be FP32)

You are a SQLite expert. Given an input question, first create a syntactically correct SQLite query to run, then look at the results of the query and return the answer to the input question.
Unless the user specifies in the question a specific number of examples to obtain, query for at most 5 results using the LIMIT clause as per SQLite. You can order the results to return the most informative data in the database.
Never query for all columns from a table. You must query only the columns that are needed to answer the question. Wrap each column name in double quotes (") to denote them as delimited identifiers.
Pay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.
Pay attention to use date('now') function to get the current date, if the question involves "today".

Use the following format:

Question: Question here
SQLQuery: SQL Query to run
SQLResult: Result of the SQLQuery
Answer: Final answer here

Only use the following tables:

CREATE TABLE "Album" (
	"AlbumId" INTEGER NOT NULL,
	"Title" NVARCHAR(160) NOT NULL,
	"ArtistId" INTEGER NOT NULL,
	PRIMARY KEY ("AlbumId"),
	FOREIGN KEY("ArtistId") REFERENCES "Artist" ("ArtistId")
)

/*
3 rows from Album table:
AlbumId	Title	ArtistId
1	For Those About To Rock We Salute You	1
2	Balls to the Wall	2
3	Restless and Wild	2
*/


CREATE TABLE "Artist" (
	"ArtistId" INTEGER NOT NULL,
	"Name" NVARCHAR(120),
	PRIMARY KEY ("ArtistId")
)

/*
3 rows from Artist table:
ArtistId	Name
1	AC/DC
2	Accept
3	Aerosmith
*/


CREATE TABLE "Customer" (
	"CustomerId" INTEGER NOT NULL,
	"FirstName" NVARCHAR(40) NOT NULL,
	"LastName" NVARCHAR(20) NOT NULL,
	"Company" NVARCHAR(80),
	"Address" NVARCHAR(70),
	"City" NVARCHAR(40),
	"State" NVARCHAR(40),
	"Country" NVARCHAR(40),
	"PostalCode" NVARCHAR(10),
	"Phone" NVARCHAR(24),
	"Fax" NVARCHAR(24),
	"Email" NVARCHAR(60) NOT NULL,
	"SupportRepId" INTEGER,
	PRIMARY KEY ("CustomerId"),
	FOREIGN KEY("SupportRepId") REFERENCES "Employee" ("EmployeeId")
)

/*
3 rows from Customer table:
CustomerId	FirstName	LastName	Company	Address	City	State	Country	PostalCode	Phone	Fax	Email	SupportRepId
1	Luís	Gonçalves	Embraer - Empresa Brasileira de Aeronáutica S.A.	Av. Brigadeiro Faria Lima, 2170	São José dos Campos	SP	Brazil	12227-000	+55 (12) 3923-5555	+55 (12) 3923-5566	luisg@embraer.com.br	3
2	Leonie	Köhler	None	Theodor-Heuss-Straße 34	Stuttgart	None	Germany	70174	+49 0711 2842222	None	leonekohler@surfeu.de	5
3	François	Tremblay	None	1498 rue Bélanger	Montréal	QC	Canada	H2G 1A7	+1 (514) 721-4711	None	ftremblay@gmail.com	3
*/


CREATE TABLE "Employee" (
	"EmployeeId" INTEGER NOT NULL,
	"LastName" NVARCHAR(20) NOT NULL,
	"FirstName" NVARCHAR(20) NOT NULL,
	"Title" NVARCHAR(30),
	"ReportsTo" INTEGER,
	"BirthDate" DATETIME,
	"HireDate" DATETIME,
	"Address" NVARCHAR(70),
	"City" NVARCHAR(40),
	"State" NVARCHAR(40),
	"Country" NVARCHAR(40),
	"PostalCode" NVARCHAR(10),
	"Phone" NVARCHAR(24),
	"Fax" NVARCHAR(24),
	"Email" NVARCHAR(60),
	PRIMARY KEY ("EmployeeId"),
	FOREIGN KEY("ReportsTo") REFERENCES "Employee" ("EmployeeId")
)

/*
3 rows from Employee table:
EmployeeId	LastName	FirstName	Title	ReportsTo	BirthDate	HireDate	Address	City	State	Country	PostalCode	Phone	Fax	Email
1	Adams	Andrew	General Manager	None	1962-02-18 00:00:00	2002-08-14 00:00:00	11120 Jasper Ave NW	Edmonton	AB	Canada	T5K 2N1	+1 (780) 428-9482	+1 (780) 428-3457	andrew@chinookcorp.com
2	Edwards	Nancy	Sales Manager	1	1958-12-08 00:00:00	2002-05-01 00:00:00	825 8 Ave SW	Calgary	AB	Canada	T2P 2T3	+1 (403) 262-3443	+1 (403) 262-3322	nancy@chinookcorp.com
3	Peacock	Jane	Sales Support Agent	2	1973-08-29 00:00:00	2002-04-01 00:00:00	1111 6 Ave SW	Calgary	AB	Canada	T2P 5M5	+1 (403) 262-3443	+1 (403) 262-6712	jane@chinookcorp.com
*/


CREATE TABLE "Genre" (
	"GenreId" INTEGER NOT NULL,
	"Name" NVARCHAR(120),
	PRIMARY KEY ("GenreId")
)

/*
3 rows from Genre table:
GenreId	Name
1	Rock
2	Jazz
3	Metal
*/


CREATE TABLE "Invoice" (
	"InvoiceId" INTEGER NOT NULL,
	"CustomerId" INTEGER NOT NULL,
	"InvoiceDate" DATETIME NOT NULL,
	"BillingAddress" NVARCHAR(70),
	"BillingCity" NVARCHAR(40),
	"BillingState" NVARCHAR(40),
	"BillingCountry" NVARCHAR(40),
	"BillingPostalCode" NVARCHAR(10),
	"Total" NUMERIC(10, 2) NOT NULL,
	PRIMARY KEY ("InvoiceId"),
	FOREIGN KEY("CustomerId") REFERENCES "Customer" ("CustomerId")
)

/*
3 rows from Invoice table:
InvoiceId	CustomerId	InvoiceDate	BillingAddress	BillingCity	BillingState	BillingCountry	BillingPostalCode	Total
1	2	2021-01-01 00:00:00	Theodor-Heuss-Straße 34	Stuttgart	None	Germany	70174	1.98
2	4	2021-01-02 00:00:00	Ullevålsveien 14	Oslo	None	Norway	0171	3.96
3	8	2021-01-03 00:00:00	Grétrystraat 63	Brussels	None	Belgium	1000	5.94
*/


CREATE TABLE "InvoiceLine" (
	"InvoiceLineId" INTEGER NOT NULL,
	"InvoiceId" INTEGER NOT NULL,
	"TrackId" INTEGER NOT NULL,
	"UnitPrice" NUMERIC(10, 2) NOT NULL,
	"Quantity" INTEGER NOT NULL,
	PRIMARY KEY ("InvoiceLineId"),
	FOREIGN KEY("TrackId") REFERENCES "Track" ("TrackId"),
	FOREIGN KEY("InvoiceId") REFERENCES "Invoice" ("InvoiceId")
)

/*
3 rows from InvoiceLine table:
InvoiceLineId	InvoiceId	TrackId	UnitPrice	Quantity
1	1	2	0.99	1
2	1	4	0.99	1
3	2	6	0.99	1
*/


CREATE TABLE "MediaType" (
	"MediaTypeId" INTEGER NOT NULL,
	"Name" NVARCHAR(120),
	PRIMARY KEY ("MediaTypeId")
)

/*
3 rows from MediaType table:
MediaTypeId	Name
1	MPEG audio file
2	Protected AAC audio file
3	Protected MPEG-4 video file
*/


CREATE TABLE "Playlist" (
	"PlaylistId" INTEGER NOT NULL,
	"Name" NVARCHAR(120),
	PRIMARY KEY ("PlaylistId")
)

/*
3 rows from Playlist table:
PlaylistId	Name
1	Music
2	Movies
3	TV Shows
*/


CREATE TABLE "PlaylistTrack" (
	"PlaylistId" INTEGER NOT NULL,
	"TrackId" INTEGER NOT NULL,
	PRIMARY KEY ("PlaylistId", "TrackId"),
	FOREIGN KEY("TrackId") REFERENCES "Track" ("TrackId"),
	FOREIGN KEY("PlaylistId") REFERENCES "Playlist" ("PlaylistId")
)

/*
3 rows from PlaylistTrack table:
PlaylistId	TrackId
1	3402
1	3389
1	3390
*/


CREATE TABLE "Track" (
	"TrackId" INTEGER NOT NULL,
	"Name" NVARCHAR(200) NOT NULL,
	"AlbumId" INTEGER,
	"MediaTypeId" INTEGER NOT NULL,
	"GenreId" INTEGER,
	"Composer" NVARCHAR(220),
	"Milliseconds" INTEGER NOT NULL,
	"Bytes" INTEGER,
	"UnitPrice" NUMERIC(10, 2) NOT NULL,
	PRIMARY KEY ("TrackId"),
	FOREIGN KEY("MediaTypeId") REFERENCES "MediaType" ("MediaTypeId"),
	FOREIGN KEY("GenreId") REFERENCES "Genre" ("GenreId"),
	FOREIGN KEY("AlbumId") REFERENCES "Album" ("AlbumId")
)

/*
3 rows from Track table:
TrackId	Name	AlbumId	MediaTypeId	GenreId	Composer	Milliseconds	Bytes	UnitPrice
1	For Those About To Rock (We Salute You)	1	1	1	Angus Young, Malcolm Young, Brian Johnson	343719	11170334	0.99
2	Balls to the Wall	2	2	1	U. Dirkschneider, W. Hoffmann, H. Frank, P. Baltes, S. Kaufmann, G. Hoffmann	342562	5510424	0.99
3	Fast As a Shark	3	2	1	F. Baltes, S. Kaufman, U. Dirkscneider & W. Hoffman	230619	3990994	0.99
*/

Question: How many albums does AC/DC have?
SQLQuery:  SELECT COUNT(*) FROM "Album" WHERE "ArtistId" = 1
SQLResult: 1
Answer: AC/DC has 1 album.

In [18]:
response = chain.invoke({"question": "How many albums does Alanis Morissette have?"})
print(response)

Setting `pad_token_id` to `eos_token_id`:None for open-end generation.

You are a SQLite expert. Given an input question, first create a syntactically correct SQLite query to run, then look at the results of the query and return the answer to the input question.
Unless the user specifies in the question a specific number of examples to obtain, query for at most 5 results using the LIMIT clause as per SQLite. You can order the results to return the most informative data in the database.
Never query for all columns from a table. You must query only the columns that are needed to answer the question. Wrap each column name in double quotes (") to denote them as delimited identifiers.
Pay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.
Pay attention to use date('now') function to get the current date, if the question involves "today".

Use the following format:

Question: Question here
SQLQuery: SQL Query to run
SQLResult: Result of the SQLQuery
Answer: Final answer here

Only use the following tables:

CREATE TABLE "Album" (
	"AlbumId" INTEGER NOT NULL,
	"Title" NVARCHAR(160) NOT NULL,
	"ArtistId" INTEGER NOT NULL,
	PRIMARY KEY ("AlbumId"),
	FOREIGN KEY("ArtistId") REFERENCES "Artist" ("ArtistId")
)

/*
3 rows from Album table:
AlbumId	Title	ArtistId
1	For Those About To Rock We Salute You	1
2	Balls to the Wall	2
3	Restless and Wild	2
*/


CREATE TABLE "Artist" (
	"ArtistId" INTEGER NOT NULL,
	"Name" NVARCHAR(120),
	PRIMARY KEY ("ArtistId")
)

/*
3 rows from Artist table:
ArtistId	Name
1	AC/DC
2	Accept
3	Aerosmith
*/


CREATE TABLE "Customer" (
	"CustomerId" INTEGER NOT NULL,
	"FirstName" NVARCHAR(40) NOT NULL,
	"LastName" NVARCHAR(20) NOT NULL,
	"Company" NVARCHAR(80),
	"Address" NVARCHAR(70),
	"City" NVARCHAR(40),
	"State" NVARCHAR(40),
	"Country" NVARCHAR(40),
	"PostalCode" NVARCHAR(10),
	"Phone" NVARCHAR(24),
	"Fax" NVARCHAR(24),
	"Email" NVARCHAR(60) NOT NULL,
	"SupportRepId" INTEGER,
	PRIMARY KEY ("CustomerId"),
	FOREIGN KEY("SupportRepId") REFERENCES "Employee" ("EmployeeId")
)

/*
3 rows from Customer table:
CustomerId	FirstName	LastName	Company	Address	City	State	Country	PostalCode	Phone	Fax	Email	SupportRepId
1	Luís	Gonçalves	Embraer - Empresa Brasileira de Aeronáutica S.A.	Av. Brigadeiro Faria Lima, 2170	São José dos Campos	SP	Brazil	12227-000	+55 (12) 3923-5555	+55 (12) 3923-5566	luisg@embraer.com.br	3
2	Leonie	Köhler	None	Theodor-Heuss-Straße 34	Stuttgart	None	Germany	70174	+49 0711 2842222	None	leonekohler@surfeu.de	5
3	François	Tremblay	None	1498 rue Bélanger	Montréal	QC	Canada	H2G 1A7	+1 (514) 721-4711	None	ftremblay@gmail.com	3
*/


CREATE TABLE "Employee" (
	"EmployeeId" INTEGER NOT NULL,
	"LastName" NVARCHAR(20) NOT NULL,
	"FirstName" NVARCHAR(20) NOT NULL,
	"Title" NVARCHAR(30),
	"ReportsTo" INTEGER,
	"BirthDate" DATETIME,
	"HireDate" DATETIME,
	"Address" NVARCHAR(70),
	"City" NVARCHAR(40),
	"State" NVARCHAR(40),
	"Country" NVARCHAR(40),
	"PostalCode" NVARCHAR(10),
	"Phone" NVARCHAR(24),
	"Fax" NVARCHAR(24),
	"Email" NVARCHAR(60),
	PRIMARY KEY ("EmployeeId"),
	FOREIGN KEY("ReportsTo") REFERENCES "Employee" ("EmployeeId")
)

/*
3 rows from Employee table:
EmployeeId	LastName	FirstName	Title	ReportsTo	BirthDate	HireDate	Address	City	State	Country	PostalCode	Phone	Fax	Email
1	Adams	Andrew	General Manager	None	1962-02-18 00:00:00	2002-08-14 00:00:00	11120 Jasper Ave NW	Edmonton	AB	Canada	T5K 2N1	+1 (780) 428-9482	+1 (780) 428-3457	andrew@chinookcorp.com
2	Edwards	Nancy	Sales Manager	1	1958-12-08 00:00:00	2002-05-01 00:00:00	825 8 Ave SW	Calgary	AB	Canada	T2P 2T3	+1 (403) 262-3443	+1 (403) 262-3322	nancy@chinookcorp.com
3	Peacock	Jane	Sales Support Agent	2	1973-08-29 00:00:00	2002-04-01 00:00:00	1111 6 Ave SW	Calgary	AB	Canada	T2P 5M5	+1 (403) 262-3443	+1 (403) 262-6712	jane@chinookcorp.com
*/


CREATE TABLE "Genre" (
	"GenreId" INTEGER NOT NULL,
	"Name" NVARCHAR(120),
	PRIMARY KEY ("GenreId")
)

/*
3 rows from Genre table:
GenreId	Name
1	Rock
2	Jazz
3	Metal
*/


CREATE TABLE "Invoice" (
	"InvoiceId" INTEGER NOT NULL,
	"CustomerId" INTEGER NOT NULL,
	"InvoiceDate" DATETIME NOT NULL,
	"BillingAddress" NVARCHAR(70),
	"BillingCity" NVARCHAR(40),
	"BillingState" NVARCHAR(40),
	"BillingCountry" NVARCHAR(40),
	"BillingPostalCode" NVARCHAR(10),
	"Total" NUMERIC(10, 2) NOT NULL,
	PRIMARY KEY ("InvoiceId"),
	FOREIGN KEY("CustomerId") REFERENCES "Customer" ("CustomerId")
)

/*
3 rows from Invoice table:
InvoiceId	CustomerId	InvoiceDate	BillingAddress	BillingCity	BillingState	BillingCountry	BillingPostalCode	Total
1	2	2021-01-01 00:00:00	Theodor-Heuss-Straße 34	Stuttgart	None	Germany	70174	1.98
2	4	2021-01-02 00:00:00	Ullevålsveien 14	Oslo	None	Norway	0171	3.96
3	8	2021-01-03 00:00:00	Grétrystraat 63	Brussels	None	Belgium	1000	5.94
*/


CREATE TABLE "InvoiceLine" (
	"InvoiceLineId" INTEGER NOT NULL,
	"InvoiceId" INTEGER NOT NULL,
	"TrackId" INTEGER NOT NULL,
	"UnitPrice" NUMERIC(10, 2) NOT NULL,
	"Quantity" INTEGER NOT NULL,
	PRIMARY KEY ("InvoiceLineId"),
	FOREIGN KEY("TrackId") REFERENCES "Track" ("TrackId"),
	FOREIGN KEY("InvoiceId") REFERENCES "Invoice" ("InvoiceId")
)

/*
3 rows from InvoiceLine table:
InvoiceLineId	InvoiceId	TrackId	UnitPrice	Quantity
1	1	2	0.99	1
2	1	4	0.99	1
3	2	6	0.99	1
*/


CREATE TABLE "MediaType" (
	"MediaTypeId" INTEGER NOT NULL,
	"Name" NVARCHAR(120),
	PRIMARY KEY ("MediaTypeId")
)

/*
3 rows from MediaType table:
MediaTypeId	Name
1	MPEG audio file
2	Protected AAC audio file
3	Protected MPEG-4 video file
*/


CREATE TABLE "Playlist" (
	"PlaylistId" INTEGER NOT NULL,
	"Name" NVARCHAR(120),
	PRIMARY KEY ("PlaylistId")
)

/*
3 rows from Playlist table:
PlaylistId	Name
1	Music
2	Movies
3	TV Shows
*/


CREATE TABLE "PlaylistTrack" (
	"PlaylistId" INTEGER NOT NULL,
	"TrackId" INTEGER NOT NULL,
	PRIMARY KEY ("PlaylistId", "TrackId"),
	FOREIGN KEY("TrackId") REFERENCES "Track" ("TrackId"),
	FOREIGN KEY("PlaylistId") REFERENCES "Playlist" ("PlaylistId")
)

/*
3 rows from PlaylistTrack table:
PlaylistId	TrackId
1	3402
1	3389
1	3390
*/


CREATE TABLE "Track" (
	"TrackId" INTEGER NOT NULL,
	"Name" NVARCHAR(200) NOT NULL,
	"AlbumId" INTEGER,
	"MediaTypeId" INTEGER NOT NULL,
	"GenreId" INTEGER,
	"Composer" NVARCHAR(220),
	"Milliseconds" INTEGER NOT NULL,
	"Bytes" INTEGER,
	"UnitPrice" NUMERIC(10, 2) NOT NULL,
	PRIMARY KEY ("TrackId"),
	FOREIGN KEY("MediaTypeId") REFERENCES "MediaType" ("MediaTypeId"),
	FOREIGN KEY("GenreId") REFERENCES "Genre" ("GenreId"),
	FOREIGN KEY("AlbumId") REFERENCES "Album" ("AlbumId")
)

/*
3 rows from Track table:
TrackId	Name	AlbumId	MediaTypeId	GenreId	Composer	Milliseconds	Bytes	UnitPrice
1	For Those About To Rock (We Salute You)	1	1	1	Angus Young, Malcolm Young, Brian Johnson	343719	11170334	0.99
2	Balls to the Wall	2	2	1	U. Dirkschneider, W. Hoffmann, H. Frank, P. Baltes, S. Kaufmann, G. Hoffmann	342562	5510424	0.99
3	Fast As a Shark	3	2	1	F. Baltes, S. Kaufman, U. Dirkscneider & W. Hoffman	230619	3990994	0.99
*/

Question: How many albums does Alanis Morissette have?
SQLQuery:  SELECT COUNT(*) FROM "Artist" AS T1 INNER JOIN "Album" AS T2 ON T1."ArtistId" = T2."ArtistId" WHERE T1."Name" = 'Alanis Morissette'
SQLResult: 1 row with 1 column
Answer: Alanis Morissette has 1 album.

In [19]:
import re

def extract_query(text):
    # Use regex to find all occurrences between "SQLQuery:" and "SQLResult:"
    matches = re.findall(r"SQLQuery:\s*(.*?)\s*SQLResult:", text, re.DOTALL)
    if matches:
        # Return the last match
        return matches[-1].strip().replace('"', '').replace('\\', '')
    else:
        return None

In [20]:
extract_query(response)

"SELECT COUNT(*) FROM Artist AS T1 INNER JOIN Album AS T2 ON T1.ArtistId = T2.ArtistId WHERE T1.Name = 'Alanis Morissette'"

In [ ]:
db.run(extract_query(response))

'[(1,)]'

:

In [17]:
db.run("""SELECT * FROM Artist""")

'[(1, \'AC/DC\'), (2, \'Accept\'), (3, \'Aerosmith\'), (4, \'Alanis Morissette\'), (5, \'Alice In Chains\'), (6, \'Antônio Carlos Jobim\'), (7, \'Apocalyptica\'), (8, \'Audioslave\'), (9, \'BackBeat\'), (10, \'Billy Cobham\'), (11, \'Black Label Society\'), (12, \'Black Sabbath\'), (13, \'Body Count\'), (14, \'Bruce Dickinson\'), (15, \'Buddy Guy\'), (16, \'Caetano Veloso\'), (17, \'Chico Buarque\'), (18, \'Chico Science & Nação Zumbi\'), (19, \'Cidade Negra\'), (20, \'Cláudio Zoli\'), (21, \'Various Artists\'), (22, \'Led Zeppelin\'), (23, \'Frank Zappa & Captain Beefheart\'), (24, \'Marcos Valle\'), (25, \'Milton Nascimento & Bebeto\'), (26, \'Azymuth\'), (27, \'Gilberto Gil\'), (28, \'João Gilberto\'), (29, \'Bebel Gilberto\'), (30, \'Jorge Vercilo\'), (31, \'Baby Consuelo\'), (32, \'Ney Matogrosso\'), (33, \'Luiz Melodia\'), (34, \'Nando Reis\'), (35, \'Pedro Luís & A Parede\'), (36, \'O Rappa\'), (37, \'Ed Motta\'), (38, \'Banda Black Rio\'), (39, \'Fernanda Porto\'), (40, \'Os Cariocas\'), (41, \'Elis Regina\'), (42, \'Milton Nascimento\'), (43, \'A Cor Do Som\'), (44, \'Kid Abelha\'), (45, \'Sandra De Sá\'), (46, \'Jorge Ben\'), (47, \'Hermeto Pascoal\'), (48, \'Barão Vermelho\'), (49, \'Edson, DJ Marky & DJ Patife Featuring Fernanda Porto\'), (50, \'Metallica\'), (51, \'Queen\'), (52, \'Kiss\'), (53, \'Spyro Gyra\'), (54, \'Green Day\'), (55, \'David Coverdale\'), (56, \'Gonzaguinha\'), (57, \'Os Mutantes\'), (58, \'Deep Purple\'), (59, \'Santana\'), (60, \'Santana Feat. Dave Matthews\'), (61, \'Santana Feat. Everlast\'), (62, \'Santana Feat. Rob Thomas\'), (63, \'Santana Feat. Lauryn Hill & Cee-Lo\'), (64, \'Santana Feat. The Project G&B\'), (65, \'Santana Feat. Maná\'), (66, \'Santana Feat. Eagle-Eye Cherry\'), (67, \'Santana Feat. Eric Clapton\'), (68, \'Miles Davis\'), (69, \'Gene Krupa\'), (70, \'Toquinho & Vinícius\'), (71, \'Vinícius De Moraes & Baden Powell\'), (72, \'Vinícius De Moraes\'), (73, \'Vinícius E Qurteto Em Cy\'), (74, \'Vinícius E Odette Lara\'), (75, \'Vinicius, Toquinho & Quarteto Em Cy\'), (76, \'Creedence Clearwater Revival\'), (77, \'Cássia Eller\'), (78, \'Def Leppard\'), (79, \'Dennis Chambers\'), (80, \'Djavan\'), (81, \'Eric Clapton\'), (82, \'Faith No More\'), (83, \'Falamansa\'), (84, \'Foo Fighters\'), (85, \'Frank Sinatra\'), (86, \'Funk Como Le Gusta\'), (87, \'Godsmack\'), (88, "Guns N\' Roses"), (89, \'Incognito\'), (90, \'Iron Maiden\'), (91, \'James Brown\'), (92, \'Jamiroquai\'), (93, \'JET\'), (94, \'Jimi Hendrix\'), (95, \'Joe Satriani\'), (96, \'Jota Quest\'), (97, \'João Suplicy\'), (98, \'Judas Priest\'), (99, \'Legião Urbana\'), (100, \'Lenny Kravitz\'), (101, \'Lulu Santos\'), (102, \'Marillion\'), (103, \'Marisa Monte\'), (104, \'Marvin Gaye\'), (105, \'Men At Work\'), (106, \'Motörhead\'), (107, \'Motörhead & Girlschool\'), (108, \'Mônica Marianno\'), (109, \'Mötley Crüe\'), (110, \'Nirvana\'), (111, \'O Terço\'), (112, \'Olodum\'), (113, \'Os Paralamas Do Sucesso\'), (114, \'Ozzy Osbourne\'), (115, \'Page & Plant\'), (116, \'Passengers\'), (117, "Paul D\'Ianno"), (118, \'Pearl Jam\'), (119, \'Peter Tosh\'), (120, \'Pink Floyd\'), (121, \'Planet Hemp\'), (122, \'R.E.M. Feat. Kate Pearson\'), (123, \'R.E.M. Feat. KRS-One\'), (124, \'R.E.M.\'), (125, \'Raimundos\'), (126, \'Raul Seixas\'), (127, \'Red Hot Chili Peppers\'), (128, \'Rush\'), (129, \'Simply Red\'), (130, \'Skank\'), (131, \'Smashing Pumpkins\'), (132, \'Soundgarden\'), (133, \'Stevie Ray Vaughan & Double Trouble\'), (134, \'Stone Temple Pilots\'), (135, \'System Of A Down\'), (136, \'Terry Bozzio, Tony Levin & Steve Stevens\'), (137, \'The Black Crowes\'), (138, \'The Clash\'), (139, \'The Cult\'), (140, \'The Doors\'), (141, \'The Police\'), (142, \'The Rolling Stones\'), (143, \'The Tea Party\'), (144, \'The Who\'), (145, \'Tim Maia\'), (146, \'Titãs\'), (147, \'Battlestar Galactica\'), (148, \'Heroes\'), (149, \'Lost\'), (150, \'U2\'), (151, \'UB40\'), (152, \'Van Halen\'), (153, \'Velvet Revolver\'), (154, \'Whitesnake\'), (155, \'Zeca Pagodinho\'), (156, \'The Office\'), (157, \'Dread Zeppelin\'), (158, \'Battlestar Galactica (Classic)\'), (159, \'Aquaman\'), (160, \'Christina Aguilera featuring BigElf\'), (161, "Aerosmith & Sierra Leone\'s Refugee Allstars"), (162, \'Los Lonely Boys\'), (163, \'Corinne Bailey Rae\'), (164, \'Dhani Harrison & Jakob Dylan\'), (165, \'Jackson Browne\'), (166, \'Avril Lavigne\'), (167, \'Big & Rich\'), (168, "Youssou N\'Dour"), (169, \'Black Eyed Peas\'), (170, \'Jack Johnson\'), (171, \'Ben Harper\'), (172, \'Snow Patrol\'), (173, \'Matisyahu\'), (174, \'The Postal Service\'), (175, \'Jaguares\'), (176, \'The Flaming Lips\'), (177, "Jack\'s Mannequin & Mick Fleetwood"), (178, \'Regina Spektor\'), (179, \'Scorpions\'), (180, \'House Of Pain\'), (181, \'Xis\'), (182, \'Nega Gizza\'), (183, \'Gustavo & Andres Veiga & Salazar\'), (184, \'Rodox\'), (185, \'Charlie Brown Jr.\'), (186, \'Pedro Luís E A Parede\'), (187, \'Los Hermanos\'), (188, \'Mundo Livre S/A\'), (189, \'Otto\'), (190, \'Instituto\'), (191, \'Nação Zumbi\'), (192, \'DJ Dolores & Orchestra Santa Massa\'), (193, \'Seu Jorge\'), (194, \'Sabotage E Instituto\'), (195, \'Stereo Maracana\'), (196, \'Cake\'), (197, \'Aisha Duo\'), (198, \'Habib Koité and Bamada\'), (199, \'Karsh Kale\'), (200, \'The Posies\'), (201, \'Luciana Souza/Romero Lubambo\'), (202, \'Aaron Goldberg\'), (203, \'Nicolaus Esterhazy Sinfonia\'), (204, \'Temple of the Dog\'), (205, \'Chris Cornell\'), (206, \'Alberto Turco & Nova Schola Gregoriana\'), (207, \'Richard Marlow & The Choir of Trinity College, Cambridge\'), (208, \'English Concert & Trevor Pinnock\'), (209, \'Anne-Sophie Mutter, Herbert Von Karajan & Wiener Philharmoniker\'), (210, \'Hilary Hahn, Jeffrey Kahane, Los Angeles Chamber Orchestra & Margaret Batjer\'), (211, \'Wilhelm Kempff\'), (212, \'Yo-Yo Ma\'), (213, \'Scholars Baroque Ensemble\'), (214, \'Academy of St. Martin in the Fields & Sir Neville Marriner\'), (215, \'Academy of St. Martin in the Fields Chamber Ensemble & Sir Neville Marriner\'), (216, \'Berliner Philharmoniker, Claudio Abbado & Sabine Meyer\'), (217, \'Royal Philharmonic Orchestra & Sir Thomas Beecham\'), (218, \'Orchestre Révolutionnaire et Romantique & John Eliot Gardiner\'), (219, \'Britten Sinfonia, Ivor Bolton & Lesley Garrett\'), (220, \'Chicago Symphony Chorus, Chicago Symphony Orchestra & Sir Georg Solti\'), (221, \'Sir Georg Solti & Wiener Philharmoniker\'), (222, \'Academy of St. Martin in the Fields, John Birch, Sir Neville Marriner & Sylvia McNair\'), (223, \'London Symphony Orchestra & Sir Charles Mackerras\'), (224, \'Barry Wordsworth & BBC Concert Orchestra\'), (225, \'Herbert Von Karajan, Mirella Freni & Wiener Philharmoniker\'), (226, \'Eugene Ormandy\'), (227, \'Luciano Pavarotti\'), (228, \'Leonard Bernstein & New York Philharmonic\'), (229, \'Boston Symphony Orchestra & Seiji Ozawa\'), (230, \'Aaron Copland & London Symphony Orchestra\'), (231, \'Ton Koopman\'), (232, \'Sergei Prokofiev & Yuri Temirkanov\'), (233, \'Chicago Symphony Orchestra & Fritz Reiner\'), (234, \'Orchestra of The Age of Enlightenment\'), (235, \'Emanuel Ax, Eugene Ormandy & Philadelphia Orchestra\'), (236, \'James Levine\'), (237, \'Berliner Philharmoniker & Hans Rosbaud\'), (238, \'Maurizio Pollini\'), (239, \'Academy of St. Martin in the Fields, Sir Neville Marriner & William Bennett\'), (240, \'Gustav Mahler\'), (241, \'Felix Schmidt, London Symphony Orchestra & Rafael Frühbeck de Burgos\'), (242, \'Edo de Waart & San Francisco Symphony\'), (243, \'Antal Doráti & London Symphony Orchestra\'), (244, \'Choir Of Westminster Abbey & Simon Preston\'), (245, \'Michael Tilson Thomas & San Francisco Symphony\'), (246, \'Chor der Wiener Staatsoper, Herbert Von Karajan & Wiener Philharmoniker\'), (247, "The King\'s Singers"), (248, \'Berliner Philharmoniker & Herbert Von Karajan\'), (249, \'Sir Georg Solti, Sumi Jo & Wiener Philharmoniker\'), (250, "Christopher O\'Riley"), (251, \'Fretwork\'), (252, \'Amy Winehouse\'), (253, \'Calexico\'), (254, \'Otto Klemperer & Philharmonia Orchestra\'), (255, \'Yehudi Menuhin\'), (256, \'Philharmonia Orchestra & Sir Neville Marriner\'), (257, \'Academy of St. Martin in the Fields, Sir Neville Marriner & Thurston Dart\'), (258, \'Les Arts Florissants & William Christie\'), (259, \'The 12 Cellists of The Berlin Philharmonic\'), (260, \'Adrian Leaper & Doreen de Feis\'), (261, \'Roger Norrington, London Classical Players\'), (262, "Charles Dutoit & L\'Orchestre Symphonique de Montréal"), (263, \'Equale Brass Ensemble, John Eliot Gardiner & Munich Monteverdi Orchestra and Choir\'), (264, "Kent Nagano and Orchestre de l\'Opéra de Lyon"), (265, \'Julian Bream\'), (266, \'Martin Roscoe\'), (267, \'Göteborgs Symfoniker & Neeme Järvi\'), (268, \'Itzhak Perlman\'), (269, \'Michele Campanella\'), (270, \'Gerald Moore\'), (271, \'Mela Tenenbaum, Pro Musica Prague & Richard Kapp\'), (272, \'Emerson String Quartet\'), (273, \'C. Monteverdi, Nigel Rogers - Chiaroscuro; London Baroque; London Cornett & Sackbu\'), (274, \'Nash Ensemble\'), (275, \'Philip Glass Ensemble\')]'

In [24]:
chain.get_prompts()[0].pretty_print()

You are a SQLite expert. Given an input question, first create a syntactically correct SQLite query to run, then look at the results of the query and return the answer to the input question.
Unless the user specifies in the question a specific number of examples to obtain, query for at most 5 results using the LIMIT clause as per SQLite. You can order the results to return the most informative data in the database.
Never query for all columns from a table. You must query only the columns that are needed to answer the question. Wrap each column name in double quotes (") to denote them as delimited identifiers.
Pay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.
Pay attention to use date('now') function to get the current date, if the question involves "today".

Use the following format:

Question: Question here
SQLQuery: SQL Query to run
SQLResult: Result of the SQLQuery
Answer: Final answer here

Only use the following tables:
{table_info}

Question: {input}

In [ ]:
from operator import itemgetter

from langchain_community.tools.sql_database.tool import QuerySQLDataBaseTool
from langchain_core.output_parsers import StrOutputParser
from langchain_core.prompts import PromptTemplate
from langchain_core.runnables import RunnablePassthrough

# Create the pipeline and set the device
hf_pipeline = pipeline("text-generation", model=model, tokenizer=tokenizer, max_length=10000, device=0 if device.type == "mps" else -1)
llm = HuggingFacePipeline(pipeline=hf_pipeline)

# Chains
execute_query = QuerySQLDataBaseTool(db=db)
write_query = create_sql_query_chain(llm, db)

answer_prompt = PromptTemplate.from_template(
    """You are a SQLite expert. Given an input question, first create a syntactically correct SQLite query to run, then look at the results of the query and return the answer to the input question.
Unless the user specifies in the question a specific number of examples to obtain, query for at most 5 results using the LIMIT clause as per SQLite. You can order the results to return the most informative data in the database.
Never query for all columns from a table. You must query only the columns that are needed to answer the question. Wrap each column name in double quotes (") to denote them as delimited identifiers.
Pay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.
Pay attention to use date('now') function to get the current date, if the question involves "today".

Question: {question}
SQL Query: {query}
SQL Result: {result}
Answer: """
)

chain = (
    RunnablePassthrough.assign(query=write_query).assign(
        result=itemgetter("query") | execute_query
    )
    | answer_prompt
    | llm
    | StrOutputParser()
)

chain.invoke({"question": "How many employees are there"})

Truncation was not explicitly activated but `max_length` is provided a specific value, please use `truncation=True` to explicitly truncate examples to max length. Defaulting to 'longest_first' truncation strategy. If you encode pairs of sequences (GLUE-style) with the tokenizer you can select this strategy more precisely by providing a specific strategy to `truncation`.
Setting `pad_token_id` to `eos_token_id`:None for open-end generation.
Starting from v4.46, the `logits` model output will have the same type as the model (except at train time, where it will always be FP32)

In [ ]:
import ast
import re


def query_as_list(db, query):
    res = db.run(query)
    res = [el for sub in ast.literal_eval(res) for el in sub if el]
    res = [re.sub(r"\b\d+\b", "", string).strip() for string in res]
    return list(set(res))


artists = query_as_list(db, "SELECT Name FROM Artist")
albums = query_as_list(db, "SELECT Title FROM Album")
albums[:5]

In [ ]:
from langchain.agents.agent_toolkits import create_retriever_tool
from langchain_community.vectorstores import FAISS
from langchain_openai import OpenAIEmbeddings

vector_db = FAISS.from_texts(artists + albums, OpenAIEmbeddings())
retriever = vector_db.as_retriever(search_kwargs={"k": 5})
description = """Use to look up values to filter on. Input is an approximate spelling of the proper noun, output is \
valid proper nouns. Use the noun most similar to the search."""
retriever_tool = create_retriever_tool(
    retriever,
    name="search_proper_nouns",
    description=description,
)

In [ ]:
print(retriever_tool.invoke("Alice Chains"))

In [ ]:
system = """You are an agent designed to interact with a SQL database.
Given an input question, create a syntactically correct SQLite query to run, then look at the results of the query and return the answer.
Unless the user specifies a specific number of examples they wish to obtain, always limit your query to at most 5 results.
You can order the results by a relevant column to return the most interesting examples in the database.
Never query for all the columns from a specific table, only ask for the relevant columns given the question.
You have access to tools for interacting with the database.
Only use the given tools. Only use the information returned by the tools to construct your final answer.
You MUST double check your query before executing it. If you get an error while executing a query, rewrite the query and try again.

DO NOT make any DML statements (INSERT, UPDATE, DELETE, DROP etc.) to the database.

You have access to the following tables: {table_names}

If you need to filter on a proper noun, you must ALWAYS first look up the filter value using the "search_proper_nouns" tool!
Do not try to guess at the proper name - use this function to find similar ones.""".format(
    table_names=db.get_usable_table_names()
)

system_message = SystemMessage(content=system)

tools.append(retriever_tool)

agent = create_react_agent(llm, tools, messages_modifier=system_message)

In [ ]:
for s in agent.stream(
    {"messages": [HumanMessage(content="How many albums does alis in chain have?")]}
):
    print(s)
    print("----")